/***** general style *****/
*,
::before,
::after {
  box-sizing: border-box;
}

body {
  font-family: "Courier New", Courier, monospace;
  margin: 0;
  padding: 0;
}

img {
  max-width: 100%;
  height: auto;
}

.container {
  /* background-color: antiquewhite; */
  max-width: 1024px;
  margin-left: auto;
  margin-right: auto;
}

/***** header *****/
.header {
  /* background-color: rgb(218, 222, 222); */
  width: 100%;
  padding: 1rem;
  box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.1);
}

.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav__logo {
  width: 5rem;
  height: 3.5rem;
}

.nav__list {
  list-style-type: none;
  display: flex;
}

.nav__items {
  padding: 0 0 0 1rem;
}

.nav__link {
  display: inline-block;
  text-decoration: none;
  color: #000000;
}

.nav__link:hover {
  color: rgb(234, 149, 37);
}

/***** main *****/
.main {
  /* background-color: rgb(218, 222, 222); */
  width: 100%;
  margin: 2rem 0;
  padding: 1rem;
}

/***** Restaurant *****/
.restaurant {
  display: flex;
  flex-wrap: wrap;
}

.restaurant__card {
  box-shadow: 1px 5px 10px rgba(0, 0, 0, 0.1), 1px 1px 5px rgba(0, 0, 0, 0.2);
  padding: 0.5rem;
  margin: 0.5rem;
  max-width: 15rem;
  overflow: hidden;
}

.restaurant__name {
  color: rgb(229, 17, 17);
}
